//- Dates rentrée classes
-
    const affichesList = [
        {
            'image':'https://i.ibb.co/nssfmL4W/af-Atlas032025.png',
            'alt':'Rencontre - l\'alternance : un passeport pour une formation dans le supérieur 6 mars'
        },
        {
            'image':'https://i.ibb.co/2006Grjd/af-Etudiant032025.png',
            'alt':'Salon de l\'Étudiant : Formations et recrutement en alternance 21 et 22 mars'
        },
        {
            'image':'https://i.ibb.co/jPJJMkf1/af-Jpo032025.png',
            'alt':'Affiche de la journée portes ouvertes du samedi 29 mars 2025 de 9h30 à 13h'
        },
        {
            'image':'https://i.ibb.co/dJx4cRPn/af-Job-Dating032025.png',
            'alt':'Affiche du job dating du jeudi 17 avril'
        }
    ]

mj-section(background-color="#ffffff" padding-top="20px" padding-bottom="10px")
    mj-column
        mj-text(padding='0 25px' align='left' mj-class="T+2 cA+2" text-transform='uppercase') À vos Agendas
        mj-text(padding='0 25px' align='left' mj-class="T+1 cA+1") Salon, Job Dating et Journées Portes Ouvertes
mj-section(background-color='#ffffff' padding-top="0" padding-left="23px" padding-right="23px")
    mj-group
        each affiche in affichesList
            mj-column(padding="2px")
                mj-image(padding='0' width="134px" src=affiche.image alt=affiche.alt)/