//- CvBook
//mj-section(background-color='#EDF2F7' padding="20px 17px")
mj-section(background-color='#ffffff' padding="20px 17px" border-radius="5px")
    mj-column(width='40%' padding="8px")
        mj-image(padding='0' width="210px" src='https://i.ibb.co/83zvPkG/cvbook022025.png' alt='Couverture du nouveau CV Book avec de nouveaux étudiants')/
    mj-column(width='60%' padding="8px")
        mj-spacer(height="12px")
        mj-text(padding='0px' align='left' mj-class="T+2 cA+2" text-transform='uppercase') Recrutement
        mj-text(padding='0px' align='left' mj-class="T+1 cA+1") Entreprises, trouvez votre futur talent avec le CV Book Ecosup Assurance&nbsp;!
        mj-text(padding='5px 0px' align='left' mj-class="T400 cT-0") Découvrez dès maintenant notre #[span(style="font-weight:700;color:#2d3748;") CV Book] regroupant l'ensemble de nos #[span(style="font-weight:700;color:#2D3748;") étudiants admis], prêts à rejoindre votre entreprise en alternance. Gagnez du temps dans votre recrutement en accédant directement aux profils qui correspondent à vos besoins.
        mj-text(padding='5px 0px' align="left" mj-class="T400 cT-0") #[span(style="font-size:20px;line-height:24px;") &#x1F512;] Accédez à votre espace avec le mot de passe&nbsp;: #[span(style="font-weight:700;color:#BA4995;") Mot de passe]
        mj-text(padding='5px 0px' align='left' mj-class="T400 cT-0") #[span(style="font-weight:700;color:#2d3748;") À vos marques, prêts… recrutez&nbsp;!] Nous sommes à vos côtés pour vous accompagner à chaque étape.
        mj-spacer(height="10px")
        mj-text(padding="5px 25px" align='right' color='#BA4995' font-size="16px" font-weight='700' line-height="20px") #[a(href='https://ecosup-assurance.fr/cv-book/' style='color:#BA4995;font-size:16px;line-height:20px;font-weight:700' target='_blank') Consultez notre cvBook]