
//- Edito Rentrée2024
mj-section(background-color='#ffffff' padding='0px')
    mj-column(width='100%')
        mj-image(padding='0' border='none' fluid-on-mobile='true' width='600px' src='https://i.ibb.co/GQTgSJVS/new-Bandeau032025.jpg' alt="Christian Annaloro, responsable pédagogique d'Ecosup Assurance, les recrutements battent leur plein")/
mj-section(background-color='#ffffff' padding-top='10px' padding-bottom='40px')
    mj-column(width='88%') 
        mj-text(padding-top='5px' padding-bottom='0' mj-class="T+2 cA+2" text-transform='uppercase') Édito
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T700 cT+1" font-style='italic') Ensemble, créons des opportunités&nbsp;!
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T400 cT-0" font-style='italic') Chez #[span(style="font-weight:700;color:#2D3748;") Ecosup Assurance], l'énergie est à son comble&nbsp;! Salons, forums, rencontres... Nous sommes partout où les talents et les entreprises peuvent se croiser. Notre mission&nbsp;? #[span(style="font-weight:700;color:#2D3748;") Créer des opportunités], #[span(style="font-weight:700;color:#2D3748;") accélérer les recrutements] et #[span(style="font-weight:700;color:#2D3748;") accompagner chaque candidat] vers son avenir en #[span(style="font-weight:700;color:#2D3748;") alternance].
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T400 cT-0" font-style='italic') Le timing est crucial&nbsp;: #[span(style="font-weight:700;color:#2D3748;") les recrutements battent leur plein], et nous sommes aux côtés de nos partenaires comme l'#[span(style="font-weight:700;color:#2D3748;") Opco Atlas], le #[span(style="font-weight:700;color:#2D3748;") lycée Sévigné de Tourcoing], l'#[span(style="font-weight:700;color:#2D3748;") EIC Tourcoing] et bien d'autres, pour permettre ces rencontres décisives.
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T400 cT-0" font-style='italic') #[span(style="font-weight:700;color:#2D3748;") Nous avons besoin de vous&nbsp;!] Candidats, parents, entreprises, unissons nos forces pour transformer le potentiel en #[span(style="font-weight:700;color:#2D3748;") contrats d'alternance concrets]. L'avenir se joue maintenant, et ensemble, nous pouvons le bâtir&nbsp;!
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T400 cT-0" font-style='italic') À très bientôt sur le terrain&nbsp;!