
//- Edito Rentrée2024
mj-section(background-color='#ffffff' padding='0px')
    mj-column(width='100%')
        mj-image(padding='0' border='none' fluid-on-mobile='true' width='600px' src='https://i.ibb.co/cc1V93PM/news-Bandeau022025.jpg' alt="Christian Annaloro, responsable pédagogique d'Ecosup Assurance, jeunes filles et garçons futurs étudiants d'Ecosup Assurance")/
mj-section(background-color='#ffffff' padding-top='10px' padding-bottom='40px')
    mj-column(width='88%') 
        mj-text(padding-top='5px' padding-bottom='0' mj-class="T+2 cA+2" text-transform='uppercase') Édito
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T700 cT+1" font-style='italic') Ensemble, créons des opportunités&nbsp;!
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T400 cT-0" font-style='italic') Chez Ecosup Assurance, l'énergie est à son comble&nbsp;! Salons, forums, rencontres... Nous sommes partout où les talents et les entreprises peuvent se croiser. Notre mission&nbsp;? Créer des opportunités, accélérer les recrutements et accompagner chaque candidat vers son avenir en alternance.
        //-Que ce soit pour un #[span(style="font-weight:700;color:#2D3748;") BTS Assurance], un #[span(style="font-weight:700;color:#2D3748;") Bachelor Chargée de Clientèle en Assurance et Banque] ou un #[span(style="font-weight:700;color:#2D3748;") Mastère Expert en Ingénierie Patrimoniale], les postulants sont prêts à relever de nouveaux défis&nbsp;! 
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T400 cT-0" font-style='italic') Le timing est crucial&nbsp;: les recrutements battent leur plein, et nous sommes aux côtés de nos partenaires comme l'Opco Atlas, le lycée Sévigné de Tourcoing, l'EIC Tourcoing et bien d'autres, pour permettre ces rencontres décisives.
        //-Grâce à la confiance de #[span(style="font-weight:700;color:#2D3748;") nos entreprises partenaires], nos étudiants ont l'opportunité de poursuivre leur parcours académique tout en gagnant en expérience sur le terrain. Ces entreprises nous font l'honneur de les accompagner en offrant des postes en alternance, propices à l'épanouissement professionnel de nos talents.
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T400 cT-0" font-style='italic') Nous avons besoin de vous&nbsp;! Candidats, parents, entreprises, unissons nos forces pour transformer le potentiel en contrats d'alternance concrets. L'avenir se joue maintenant, et ensemble, nous pouvons le bâtir&nbsp;!
        mj-text(padding-top='5px' padding-bottom='5px' mj-class="T700 cT+1" font-style='italic') À très bientôt sur le terrain&nbsp;!