mj-section(background-color='#ffffff' padding="20px 17px")
    mj-column(width="40%" padding="8px")
        mj-image(
            padding="0px"
            width="210px"
            src="https://i.ibb.co/nssfmL4W/af-Atlas032025.png"
            alt="Rencontre - l'alternance : un passeport pour une formation dans le supérieur le 6 mars de 9h à 12h30 "
            )/
    mj-column(width='60%' padding="8px")
        mj-spacer(height="12px")
        mj-text(padding="0px" align='left' mj-class="T+2 cA+2" text-transform='uppercase') Salon & Évènement
        mj-text(padding="0px" align='left' mj-class="T+1 cA+1") Un week-end intense et prometteur à Lille Grand Palais&nbsp;!
        mj-text(padding="5px 0" mj-class="T400 cT-0") Ce week-end, EcoSup Assurance a eu le plaisir d'accueillir de nombreux étudiants en quête de formation, d'école et d'entreprise pour se lancer dans l'alternance. Deux jours riches en échanges, en conseils et en opportunités pour accompagner ces jeunes talents dans leur projet professionnel.
        //-C'est avec une immense joie que nos équipes, en collaboration avec celles de l'#[span(style="font-weight:700;color:#2D3748;") OPCO Atlas], ont partagé un moment convivial au sein de notre école. Ce fut l'occasion de poser les bases d'une future collaboration pour toujours mieux répondre à notre objectif commun : #[span(style="font-weight:700;color:#2D3748;") faciliter la rencontre entre les jeunes et les entreprises].
        mj-text(padding="5px 0" mj-class="T400 cT-0") Notre mission ? Informer, orienter et surtout aider chaque candidat à trouver sa voie !
        //-#[span(style="font-weight:700;color:#2D3748;") OPCO Atlas] sera présent à nos côtés lors de notre #[span(style="font-weight:700;color:#2D3748;") JobDating le 17&nbsp;avril&nbsp;2025].
        mj-text(padding="5px 0" mj-class="T400 cT-0") Entreprises, les talents de demain sont là ! Profitez-en, contactez-nous et trouvons ensemble votre futur alternant. 
