mj-wrapper(background-color="#ffffff" padding="20px 17px" border-radius="5px")
    mj-section(padding="0")
        mj-column(width="100%" padding="8px")
            mj-image(
                padding='0px'
                src='https://i.ibb.co/ksdGxpvs/ImgOpco.jpg'
                alt="Forum de l'alternance à l'hôtel de la Région Hauts de France"
                width="600px")
    mj-section(padding="0")            
        mj-column(width="60%" padding="8px")
            //-mj-spacer(height="12px")
            mj-text(padding="0" align='left' mj-class="T+2 cA+2" text-transform='uppercase') Salons & Évènements
            mj-text(padding="0" align='left' mj-class="T+1 cA+1") EcoSup Campus aux côtés de l'OPCO Atlas pour l'alternance&nbsp;!
            mj-text(padding="5px 0" mj-class="cT-0 T400") Nous avons eu le plaisir de participer au #[span(style="font-weight:700;color:#2d3748;") Forum de l'Alternance], organisé par l'#[span(style="font-weight:700;color:#2d3748;") OPCO Atlas] en collaboration avec la #[span(style="font-weight:700;color:#2d3748;") Région Hauts-de-France], à l'Hôtel de Région. Cet événement a été une formidable opportunité d'échanger avec les #[span(style="font-weight:700;color:#2d3748;") élèves, les demandeurs d'emploi et les entreprises] sur les nombreuses opportunités offertes par l'#[span(style="font-weight:700;color:#2d3748;") alternance].
        mj-column(width="40%" padding="8px")
            mj-image(padding='0' width="480px" src='https://i.ibb.co/M5SQ3VH0/imgOpco2.jpg' alt='Christian Annaloro, responsable pédagogique sur le stand Ecosup Managment')/
    mj-section(padding="0")            
        mj-column(width ="40%" padding="8px" vertical-align="top")
            mj-image(padding='0' width="480px" src='https://i.ibb.co/FgxXSyj/Logo-Atlasjpo12142024.png' alt="logo de l'OPCO Atlas, organisateur du forum de l'alternance")/
        mj-column(width="60%" padding="8px")
            mj-text(padding="5px 0" mj-class="cT-0 T400") Chez #[span(style="font-weight:700;color:#2d3748;") Ecosup Campus], nous sommes convaincus que l'#[span(style="font-weight:700;color:#2d3748;") alternance] est une véritable passerelle vers l'emploi, et c'est pourquoi nous restons mobilisés pour accompagner les jeunes dans leur projet professionnel.
            mj-text(padding="5px 0" mj-class="cT-0 T400") Un grand merci à tous les participants et partenaires pour ces échanges enrichissants. #[span(style="font-weight:700;color:#2d3748;") Ensemble, faisons grandir les talents de notre région&nbsp;!]