mj-section(background-color='#ffffff' padding="20px 17px")
    mj-column(width="40%" padding="8px" )
        mj-image(
            padding='0px'
            src='https://i.ibb.co/Rkby72V7/trading-Gaming.png'
            alt='logo du Trading Game d\'Ecosup Campus'
            width="210px")
    mj-column(width='60%' padding="8px")
        mj-spacer(height="12px")
        mj-text(padding="0" align='left' mj-class="T+2 cA+2" text-transform='uppercase') Salons & Évènements
        mj-text(padding="0" align='left' mj-class="T+1 cA+1") EcoSup Campus aux côtés de l'OPCO Atlas pour l'alternance&nbsp;!
        mj-text(padding="5px 0" mj-class="cT-0 T400") Nous avons eu le plaisir de participer au #[span(style="font-weight:700;color:#2d3748;") Forum de l'Alternance], organisé par l'#[span(style="font-weight:700;color:#2d3748;") OPCO Atlas] en collaboration avec la #[span(style="font-weight:700;color:#2d3748;") Région Hauts-de-France], à l'Hôtel de Région. Cet événement a été une formidable opportunité d'échanger avec les #[span(style="font-weight:700;color:#2d3748;") élèves, les demandeurs d'emploi et les entreprises] sur les nombreuses opportunités offertes par l'#[span(style="font-weight:700;color:#2d3748;") alternance].
        mj-text(padding="5px 0" mj-class="cT-0 T400") Chez #[span(style="font-weight:700;color:#2d3748;") Ecosup Campus], nous sommes convaincus que l'#[span(style="font-weight:700;color:#2d3748;") alternance] est une véritable passerelle vers l'emploi, et c'est pourquoi nous restons mobilisés pour accompagner les jeunes dans leur projet professionnel.
        mj-text(padding="5px 0" mj-class="cT-0 T400") Un grand merci à tous les participants et partenaires pour ces échanges enrichissants. #[span(style="font-weight:700;color:#2d3748;") Ensemble, faisons grandir les talents de notre région&nbsp;!]